.terraform/

*.tfstate
*.tfstate.*


# Don't have these, but YNOT based on this template: https://github.com/github/gitignore/blob/main/Terraform.gitignore
crash.log
crash.*.log


*.tfvars
*tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info

.terraformrc
terraform.rc




# Vagrant stuff

.vagrant/
*.log


# Module specific files that get created due to vagrant's shared directory.
# These shouldn't be commited and are expected to be unique per user/cluster anyway.

join_command.sh
kubeconfig
kubeconfig_admin
kubeconfig_user
k8s-worker1some_user.csr
k8s-worker2some_user.csr
config_gen.sh
user_cert.yaml


# Part of the opentofu deadend, didn't feel like deleting in case I had bonus time...
opentofu/images/
