package_update: true
package_upgrade: true

packages:
  - curl
  - apt-transport-https
  - ca-certificates
  - gnupg
  - lsb-release

# Not super familiar with this tofu module so kind of doing both approaches
# to ensure settings persist through reboot/etc.
# Overkill? Maybe.
write_files:
  - path: /etc/modules-load.d/k8s.conf
    content: |
      overlay
      br_netfilter

  - path: /etc/sysctl.d/k8s.conf
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1


runcmd:
  # Feeding these commands based off current reference docs, although apparently no longer required, but best practice afaict:
  # https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#before-you-begin 
  # Disable swap ("required" by kubeadm)
  - swapoff -a
  - sed -i '/ swap / s/^/#/' /etc/fstab

  # Modules required to be loaded for k8s. Probably already loaded, but caveat emptor
  - modprobe overlay
  - modprobe br_netfilter

  # Do this before we do kubeadm or you will waste an afternoon. Ask me how I know.
  - sysctl --system